In [1]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/master/IMDB-Dataset.csv")

In [2]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
data.shape

(50000, 2)

In [4]:
data.sample(10)

                                                  review sentiment
38601  I found this film to funny from the start. Joh...  positive
33995  Idiots go camping and act like idiots before t...  negative
5405   As John Grierson pointed out: "The documentary...  positive
24062  As many others have stated, this is a terrible...  negative
34324  **MAJOR SPOILERS** Watchable only for the acti...  negative
24516  2003 was seen as the year of the Matrix, with ...  positive
6519   Sistas in da hood. Looking for revenge and bli...  negative
48607  Yes, bad acting isn't only one thing to mentio...  negative
42288  Do all spoof films require pure stupidity and ...  negative
24793  The third and last part of the Bourne trilogy ...  positive

In [5]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [7]:
data['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [8]:
data['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [9]:
data['review'].str.lower()

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [10]:
data['review'].str.upper()

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION. <BR /><BR />THE...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY ...
4        PETTER MATTEI'S "LOVE IN THE TIME OF MONEY" IS...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT, BAD DIALOGUE, BAD ACTING, IDIOTIC DI...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    I'M GOING TO HAVE TO DISAGREE WITH THE PREVIOU...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

In [11]:
data['review'].str.title()

0        One Of The Other Reviewers Has Mentioned That ...
1        A Wonderful Little Production. <Br /><Br />The...
2        I Thought This Was A Wonderful Way To Spend Ti...
3        Basically There'S A Family Where A Little Boy ...
4        Petter Mattei'S "Love In The Time Of Money" Is...
                               ...
49995    I Thought This Movie Did A Down Right Good Job...
49996    Bad Plot, Bad Dialogue, Bad Acting, Idiotic Di...
49997    I Am A Catholic Taught In Parochial Elementary...
49998    I'M Going To Have To Disagree With The Previou...
49999    No One Expects The Star Trek Movies To Be High...
Name: review, Length: 50000, dtype: object

In [12]:
data['review']=data['review'].str.lower()

In [13]:
data

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [14]:

html="""<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Welcome to My Website</title><style>body{font-family:'Arial',sans-serif;background-color:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}</style></head><body><header><h1>Welcome to My Awesome Website!</h1></header><main><p>This is a sample HTML document created for demonstration purposes.</p><p>Feel free to explore and enjoy the content on this website.</p></main><footer><p>&copy; 2024 My Website. All rights reserved.</p></footer></body></html>"""

In [15]:
import re
def remove_html_tag(text):
    pattern=re.compile('<.*?>')
    return pattern.sub('',text)

In [16]:
remove_html_tag(html)

"Welcome to My Websitebody{font-family:'Arial',sans-serif;background-color:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}Welcome to My Awesome Website!This is a sample HTML document created for demonstration purposes.Feel free to explore and enjoy the content on this website.&copy; 2024 My Website. All rights reserved."

In [17]:
data['review'].apply(remove_html_tag)

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [18]:
data['review']=data['review'].apply(remove_html_tag)

In [19]:
text2="welcome to my www.example.com"

In [20]:
def remove_url(text):
    pattern=re.compile(r'https?://\$+|www\.\$+')
    return pattern.sub('',text)

In [21]:
remove_url(text2)

'welcome to my www.example.com'